html{
    height: 100%;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

body {
    /* -webkit-touch-callout: none;  
    -webkit-text-size-adjust: none;   
    -webkit-user-select: none;    */              
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin:0px;
    padding:0px;
    width:100%;
    height: 100%;
    overflow: hidden;
}

div, a, ul, lim {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

h1, h2, h3, h4, a, p  {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

*:focus {
    outline: none;
}

textarea:focus, input:focus {
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    /* background-image: url("http://www.baldesio.it/wpscb/wp-content/uploads/2017/03/net2.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;  */
}

.header {
    width: 100%;
    height: 50px;
    background: lightskyblue;
    position: relative;
    text-align: center;
    /* background-image: url("http://www.red-berry.eu/_content/galerie/tenis6.jpg") */
}

.header h1 {
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
    display: inline-block;
}

.left_arrow {
    position: absolute;
    height: 60%;
    top: 20%;
    left: 0;
    display: none;
}

.right_arrow {
    position: absolute;
    height: 60%;
    top: 20%;
    right: 0;
}

.content {
    width: 100%;
    height: calc(100% - 90px);
    position: relative;
    overflow: hidden;
    /* padding: 20px; */
    background: lightblue;
}

.swipe_layout_content {
    width: 200%;
    height: 100%;
    overflow: auto;
    position: relative;
    display: block;
    transition: 0.25s;
}

.swipe_layout_div {
    width: 50%;
    height: 100%;
    float: left;
    overflow: auto;
    display: block;
}

#swipe_div2 {
    /* background: fuchsia; */
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 9px;
}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    /* border: 0; */
}

tr:hover {
    background: #3F51B5;
}

.tr_header:hover {
    background: inherit;
}

.border_bottom_none {
    border-bottom: 0;
    position: relative;
}

.border_top_none {
    border-top: 0;
    position: relative;
}

.free {
    background: lightgreen;
}

.booked {
    background: #972219;
}

.selected_box {
    box-shadow: inset 0px 0px 0px 2px #3F51B5;
}

.time_column {
    width: 20%;
}

.date_div {
    display: block;
    width: 100%;
    height: calc(200% + 1px);
    position: absolute;
    padding: 0 5px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.date_div p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.3em;
}

.footer {
    width: 100%;
    height: 40px;
    background: lightskyblue;
    display: block;
    position: relative;
    text-align: center;
}

.footer h2 {
    line-height: 40px;
    text-align: center;
    transition: 0.2s;
}

.footer a {
    text-decoration: underline;
    display: inline-block;
}

.footer button {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
}

.footer_message_div {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    background: lightskyblue;
}

#cancel_button {
    left: 0;
}

#save_button {
    right: 0;
}

#logout {
    right: 0;
    opacity: 1;
    z-index: 0;
    transition: 0.2;
}

.display_none {
    display: none !important;  /* nechat important */
}

.display_block {
    display: block !important;  /* nechat important */
}




@media (min-width: 0px) and (max-width: 480px) {
    table, th, td {
        font-size: 9px;
    }

    .header {
        height: 35px;
    }

    .header h1 {
        line-height: 35px;
        font-size: 1em;
    }

    .content {
        height: calc(100% - 55px);
        padding: 0px;
    }

    .footer {
        height: 20px;
    }

    .footer h2 {
        line-height: 20px;
        font-size: 8px;
    }
    .time_column {
        width: 20%;
    }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    table, th, td {
        font-size: 9px;
    }

    .header {
        height: 35px;
    }

    .header h1 {
        line-height: 35px;
    }

    .content {
        height: calc(100% - 55px);
        padding: 0px;
    }

    .footer {
        height: 20px;
    }
    
    .footer h2 {
        line-height: 20px;
        font-size: 9px;
    }
    .time_column {
        width: 15%;
    }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: portrait){
    table, th, td {
        font-size: 13px;
    }

    .header {
        height: 50px;
    }

    .header h1 {
        line-height: 50px;
        font-size: 1.8em;
    }

    .content {
        height: calc(100% - 85px);
        padding: 0px;
    }

    .footer {
        height: 35px;
    }
    
    .footer h2 {
        line-height: 35px;
        font-size: 1.2em;
    }
    .time_column {
        width: 15%;
    }
    .footer button {
        padding: 0 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    table, th, td {
        font-size: 17px;
    }
    
    .header {
        height: 75px;
    }
    
    .header h1 {
        font-size: 2.5em;
        line-height: 75px;
    }

    .content {
        height: calc(100% - 125px);
    }
    
    .footer {
        height: 50px;
    }
    
    .footer h2 {
        font-size: 1.7em;
        line-height: 50px;
    }
    .time_column {
        width: 15%;
    }
    .footer button {
        padding: 0 15px;
        font-size: 1.3em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .table, th, td {
        font-size: 12px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    table, th, td {
        font-size: 20px;
    }
    
    .header {
        height: 75px;
    }
    
    .header h1 {
        font-size: 2.5em;
        line-height: 75px;
    }

    .content {
        height: calc(100% - 125px);
    }

    .footer {
        height: 50px;
    }

    .footer h2 {
        font-size: 1.7em;
        line-height: 50px;
    }
    .time_column {
        width: 15%;
    }
    .footer button {
        padding: 0 20px;
    }
}

@media (min-width: 1281px) {
    table, th, td {
        font-size: 22px;
    }

    .header {
        height: 75px;
    }

    .header h1 {
        font-size: 2.5em;
        line-height: 75px;
    }

    .content {
        height: calc(100% - 125px);
    }

    .footer {
        height: 50px;
    }

    .footer h2 {
        font-size: 1.6em;
        line-height: 50px;
    }
    .time_column {
        width: 15%;
    }
    .footer button {
        padding: 0 25px;
    }
}